<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>User:</b>
  <%= @task.user.username %>
</p>

<p>
  <b>Assigned date:</b>
  <%= @task.assigned_date %>
</p>

<p>
  <b>Opened date:</b>
  <%= @task.opened_date %>
</p>

<p>
  <b>Expectation date:</b>
  <%= @task.expectation_date %>
</p>

<p>
  <b>Closed date:</b>
  <%= @task.closed_date %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
